* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button {
    height:20px;
    width:30px;
}

.header {
    height: 100px;
}

.footer {
    height: 100px;
}
.active-text {
    height:30px
}
.calculation-text {
    height:30px
}